/* Light Mode */
.footer {
  background-color: #006400; /* Green background */
  color: #fff; /* White text */
  padding: 2rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footerContainer {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0 2em;
}

.titleContainer {
  flex: 1;
  text-align: center;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  color: #d0b50b; /* Yellow-green */
}

.subtitle {
  font-size: 1.1rem;
  color: #fff; /* White text */
}

.navLinks, .about {
  flex: 1;
  text-align: left;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #d0b50b; /* Yellow*/
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin: 0.5rem 0;

      a {
        font-size: 1rem;
        color: #fff; /* White */
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #d0b50b; /* Yellow on hover */
        }
      }
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff; /* White */
  }
}

.footerBottom {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #fff; /* White border */

  p {
    margin: 0.5rem 0;
    color: #ccc; /* Light grey */
    font-size: 0.9rem;
  }

  .githubLink {
    color: #000; /* Black */
    margin-left: 8px;
    transition: color 0.3s;

    &:hover {
      color: #d0b50b; /* Yellow on hover */
    }
  }
}

/* Dark Mode */
.footerDark {
  background-color: #333333 !important; /* dark gray bg for dark mode */
  color: #f5f5f5 !important; /* Light text in dark mode */
}

.titleDark {
  color: #d0b50b !important; /* Yellow for title in dark mode */
}

.navLinksDark, .aboutDark {
  h3 {
    color: #d0b50b !important; /* Yellow for headings in dark mode */
  }

  ul li a {
    color: #f5f5f5 !important; /* Light text for links in dark mode */

    &:hover {
      color: #d0b50b !important; /* Yellow on hover in dark mode */
    }
  }

  p {
    color: #f5f5f5 !important; 
  }
}

.footerBottomDark {
  border-top: 1px solid #ccc !important; /* Light grey border */
  
  p {
    color: #ccc !important; /* Light grey text in dark mode */
  }

  .githubLink {
    color: #f5f5f5 !important; /* Light text for GitHub link in dark mode */

    &:hover {
      color: #d0b50b !important; /* Yellow on hover in dark mode */
    }
  }
}

@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    text-align: center;
  }

  .navLinks {
    text-align: center;
  }

  .about {
    text-align: center;
  }

  .about h3, .navLinks h3 {
    text-align: center;
  }
}
