// Import fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Source+Serif+Pro:wght@400;600&display=swap');

body {
  font-family: 'Source Serif Pro', serif;
  background-color: #ffffff; // white background
  color: #23360e; // Dark green 
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color: #23360e; // Dark green
}

a {
  color: #7b8f1d; // Lighter green 
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #456226; //  lighter green 
}

button {
  font-family: inherit;
  color: #ffffff; // White 
  background-color: #23360e; // Dark green 
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #456226; // lighter green
}

.rating {
  margin-left: 10px;
  display: flex;
  gap: 5px;
  font-size: 24px;
}