.navbarContainer {
  width: 100%;
  background-color: #006400 !important; // green
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 2em;
  background-color: #006400; // Dark green background

  @media (max-width: 768px) {
    flex-direction: row;
    padding: 0.5em 1em;
  }
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  color: #d0b50b; // Yellow-Green color
  text-decoration: none;
}

.title:hover {
  color: #ffffff; // White
}

.hamburger {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #ffffff; // white
  margin-left: auto; // Ensure it stays to the right of the title

  @media (max-width: 768px) {
    display: block;
  }
}

.navLinks { 
  display: flex;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;

  @media (max-width: 768px) {
    flex-direction: column;
    display: none;
    width: 100%;
    text-align: center;
    background-color: #006400; // green
    position: absolute;
    top: 60px;
    left: 0;
    padding: 1em 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

.show {
  display: flex !important; // Show menu when toggled
}

.navitem {
  font-family: 'Oswald', sans-serif;
  color: #ffff; // white
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
  text-align: center;

  @media (max-width: 850px) {
    font-size: 0.8em;
    padding: 0.1em 0; 
  }
}

.navitem:hover {
  color: #d0b50b; // yellow-green
}

.adminDropdown {  
  position: relative;

  @media (max-width: 768px) {
    width: 100%;
    text-align: center;
  }
}

.adminDropdownContent {  
  display: none;
  position: absolute;
  background-color: #006400; // green
  min-width: 10em;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;

  @media (max-width: 768px) {
    position: static;
    width: 100%;
    box-shadow: none;
  }
}

.adminDropdownContent a {
  color: #fff; // white
  padding: 10px 14px; // Adjust padding for dropdown links on mobile
  text-decoration: none;
  display: block;

  @media (max-width: 768px) {
    padding: 0.5em 0.8em; // Smaller padding on mobile
  }
}

.adminDropdownContent a:hover {
  background-color: #d0b50b; // yellow-green
}

.adminDropdown:hover .adminDropdownContent {
  display: block;

  @media (max-width: 768px) {
    display: block;
    text-align: center;
  }
}
